<div class="button-row">
   <!-- <a routerLink="/ngbuilder"><button mat-raised-button color="accent">
       NG FORM BUILDER
    </button></a>
    <a routerLink="/ngrenderer"><button mat-raised-button color="accent">
       NG FORM RENDERER
    </button></a> -->
   <a routerLink="/jsbuilder"><button mat-raised-button color="accent">
         JS FORM BUILDER
      </button></a>
   <a routerLink="/jsrenderer"><button mat-raised-button color="accent">
         JS FORM RENDERER
      </button></a>
</div>
<router-outlet></router-outlet>